# config.yaml

model:
  name: "gemini-2.5-flash-lite"

model2:
  name: "gemini-2.0-flash"

embedding_model:
  name: "gemini-embedding-001"

embed_cost_per_1k_tokens: 0.00015

use_drift: False

sim_config:
  persona: "Hailey Johnson"
  start_time: "2023-02-13 06:00"
  num_ticks: 68

load_prompt_from_langfuse: True



  