# config.yaml

model:
  name: "gemini-2.5-flash-lite"

model2:
  name: "gemini-2.0-flash"

embedding_model:
  name: "gemini-embedding-001"

embed_cost_per_1k_tokens: 0.00015

use_drift: True  # False: no drift, True: drift

sim_config:
  persona: "Isabella Rodriguez"    # get the names from driftville_personas.json file
  start_time: "2023-02-13 06:15"   # keep it at quarters of an hour
  num_ticks: 2   # keep it at 2 for this example, as the simulation is very short

load_prompt_from_langfuse: False   # False: loading the prompt from the local .yaml file, True: loading the prompt from LangFuse

  