# config.yaml

model:
  name: "gemini-2.5-flash-lite"

model2:
  name: "gemini-2.0-flash"

embedding_model:
  name: "text-embedding-004"

use_drift: True

sim_config:
  persona: "Eddy Lin"
  start_time: "2023-02-13 11:00"
  num_ticks: 5

load_prompt_from_langfuse: True



  